body {margin: 0;
      padding: 0;
      user-select: none;
      -moz-user-select: none;}
p {margin: 0;
   padding: 0 10px 0 0;
   font-size: 20px;
   text-align: right;}
img {transition: all 0.07s linear 0s;
     position: absolute;
     z-index: 1;}
div {width: 100px;
     height: 100px;
     position: absolute;}