html,body
{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(236, 235, 235);
    height: 100vh;
}
.graphicBox{
    background-color: white;
    border-radius: 10px;
    height: 300px;
    padding: 10px 0 20px 0;
}
.graphicHeader{
    font-weight: 500;
    padding: 10px 0;
    margin-top: 10px;
}
.socialBox{
    border-radius: 10px;
    padding: 10px 0 20px 0;
    background-color: white;
    margin-bottom: 20px;
}
.socialBoxDiv{
    padding: 2% 2%;
}
.facebookcolor{
    color: #0078FF;
}
.whatsappcolor{
    color:#25d366;
}
.dataText
{
    font-size: 14px;
}
.mainText{
    font-weight: 400;
    font-size: 16px;
}
.brandLogo{
    font-size: 20px;
    padding-right: 10px;
}

@media (max-width: 1024px) {
    /* lg */
    .socialBox{
        height: 33%;
    }
    .socialBoxDiv{
        padding: 2% 2%;
    }
    .mainText{
        font-size: 16px;
   
    }
    .dataText{
        font-size: 14px;
 
    }
    .graphicHeader{
        font-size: 18px;
    }
    #socialMedia{
        visibility: hidden;
    }
  }
  
  @media (max-width: 768px) {
    /* md */
    .socialBox{
        height: 33%;
    }
   
    .mainText{
        font-size: 15px;
       
    }
    .dataText{
        font-size: 13px;
       
    }
    .graphicHeader{
        font-size: 17px;
    }
    #socialMedia{
        visibility: hidden;
    }

  }
  
  @media (max-width: 667px) {
    .socialBox{
        height: 33%;
    }
    .socialBoxDiv{
        padding: 2% 2%;
    }
   
    .mainText{
        font-size: 14px;
       
    }
    .dataText{
        font-size: 12px;
       
    }
    .graphicHeader{
        font-size: 15px;
    }
    #socialMedia{
        visibility: hidden;
    }
  }
 

 