html,body
{
    height: 100%;
    min-height: 100% !important;
    background: url('../image/login-page/background.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0px;
}
.fullSize
{
    width: 100%;
    height: 100%;
}
.fullHeigth{
    height: 100%;
    min-height: 100%;
}
.kapsama{
    background-color: white;
    border-radius: 25px !important;
}
.validationMsg{
    color: red;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Roboto Condensed';
    padding-left: 10px;
}
.unselectable 
{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }
.borderRadius{
    border-radius: 25px !important;
}
#containerBox{
    height: 80vh;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 25px !important;
    overflow: hidden;
}
#bySefamerve{
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 10px;
    text-align: right;
}
#boxLeft{
    /*background-image: linear-gradient(-270deg, white, rgba(180, 169, 169, 0.712));*/
    /*background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62%, rgba(208,208,208,1) 100%);*/
    height: 100%;
}
.illustrationImage{
    width: 110%;
    position: relative;
    left:-5%;
    border-radius: 25px;
    height: 100%;
}
#boxLogo{
    padding-left: 8%;
    padding-top: 4%;
    height: 20%;
}
.lilaLogo{
    width: 30%;
}
#boxImage{
    height: 80%;
}
.loginHead{
    font-weight: bold;
    font-size: 36px;
    font-family: 'Roboto Condensed';
}
.loginText{
    font-weight: bold;
    font-size: 12px;
    font-family: 'Roboto Condensed';
}
.loginHref{
    font-weight: bold;
    font-size: 12px;
    color: red;
    font-family: 'Roboto Condensed'; 
}
.companyLogo{
    padding-top: 10px;
    height: auto;
    width: 50%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#boxRight
{
    height: 100%;
}
#chatbotLogo{
    text-align: right;
    height: 20%;
    
}
#chatbotLogoImg{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 8%;
}
#loginPlace{
    height: 60%;
    background-color: white;
}
#loginButtonPlace{
    height: 20%;
    text-align: right;
}
.buttonHere{
    padding-top: 10%;
    text-align: right;
    padding-right: 20%;
}
.loginButton{
    border-radius: 25px;
    padding: 10px 35px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Condensed';
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition-duration: 0.3s;
    background-color: #fa1744;
}
.loginButton:hover{
    background-color: #ab6dc4;
    transition-duration: 0.3s;
}
.inputGroup{
    margin-top: 20px; 
    position:relative; 
    margin-bottom:30px; 
  }
.inputGroup  input 
{
    font-size:18px;
    font-family: 'Roboto Condensed';
    padding:10px 10px 10px 5px;
    display:block;
    width:80%;
    border:none;
    border-bottom:1px solid #757575;
}
.inputGroup  input:focus 
{ 
    outline:none; 
}

.inputGroup label 			
 {
    color:#999; 
    font-size:26px;
    font-weight:300;
    position:absolute;
    pointer-events:none;
    font-family: 'Roboto Condensed';
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
.inputGroup input:focus ~  label, input:valid ~ label 		
{
    top:-15px;
    font-size:14px;
}
.upToInherit
{
    color: rgb(207, 207, 207);
}
.inputGroup input:focus ~ label .upToInherit
  {
    display: none;
  }
  
  .inputGroup  .bar 	
  {
       position:relative;
        display:block; 
        width:84%;
}
  .inputGroup .bar:before, .inputGroup .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background-color:#be81aa;
    transition:0.3s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .inputGroup .bar:before {
    left:50%;
  }
  .inputGroup .bar:after {
    right:50%; 
  }
  .inputGroup input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  .inputGroup .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  .inputGroup input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  @-webkit-keyframes inputHighlighter {
      from { background:rgb(226, 83, 245); }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:rgb(226, 83, 245); }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:rgb(226, 83, 245); }
    to 	{ width:0; background:transparent; }
  }
@media (max-width: 1024px) /* lg */
{
    #containerBox{
        height: 50vh;
    }
}
@media (max-width: 768px) /* md */
{
    #boxRight{
        height: 90%;
    }
    #boxLeft{
        height: 10%;
    }
    #boxImage{
        height: 1px;
        visibility: hidden;
    }
    .illustrationImage{
        visibility: hidden;
    }
    #loginPlace{
        padding-left: 10%;
        height: 40%;
    }
    #containerBox{
        height: 100vh;
        padding-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .buttonHere{
        text-align: center;
        padding-right: 0%;
    }
    .loginButton{
        padding:5% 15%;
    }
}
@media (max-width: 667px) /* sm */
{
    #boxRight{
        height: 90%;
    }
    #boxLeft{
        height: 10%;
    }
    #boxImage{
        height: 1px;
        visibility: hidden;
    }
    .illustrationImage{
        visibility: hidden;
    }
    #loginButtonPlace{
        padding-top: 10%;
    }
    #loginPlace{
        padding-top:10%;
        padding-left: 10%;
        height: 40%;
    }
    #containerBox{
        padding-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .buttonHere{
        text-align: center;
        padding-right: 0%;
        margin-top: 10%;
    }
    .loginButton{
        padding:5% 25%;
    }
    .companyLogo{
        
        width: 60%;
    }
    #boxLogo{
        padding-left: 0px;
        text-align: center;
    }
    #chatbotLogo{
        padding-top: 10%;
        height: auto;
    }
}
