@font-face {
    font-family: 'Roboto Condensed';
    font-style: bold;
    font-weight: 500;
    src: local('Roboto Condensed Bold'), local('Roboto-Condensed'), url('../font/roboto-condensed/RobotoCondensed-Bold.ttf') format('woff');
  }
  @font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Condensed Italic'), local('Roboto-Condensed'), url('../font/roboto-condensed/RobotoCondensed-BoldItalic.ttf') format('woff');
  }
  @font-face {
    font-family: 'Myriad Pro';
    font-style: bold;
    font-weight: 500;
    src: local('Myriad Pro Bold'), local('Myriad-Pro'), url('../font/myriad-pro/MyriadPro-Bold.otf') format('woff');
  } 
  @font-face {
    font-family: 'Myriad Pro';
    font-style: bold;
    font-weight: 600;
    src: local('Myriad Pro Bold'), local('Myriad-Pro'), url('../font/myriad-pro/Myriad\ Pro\ Bold\ SemiExtended.ttf') format('woff');
  } 
  @font-face {
    font-family: 'Roboto Condensed';
    font-style: light;
    font-weight: 300;
    src: local('Roboto Condensed Light'), local('Roboto-Condensed'), url('../font/roboto-condensed/RobotoCondensed-Light.ttf') format('woff');
  }
  @font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed Regular'), local('Roboto-Condensed'), url('../font/roboto-condensed/RobotoCondensed-Regular.ttf') format('woff');
  }

