body, html {
    background-color: #d9d9d99c;
    font-family: "PT Sans", sans-serif;
}

.space {
    height: 20px;
}

.exit-button {
    background: none;
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
}

.exit-button-icon {
    cursor: pointer;
    font-size: 25px;
    pointer-events: auto;
}

.hamburger-menu-open {
    background: none;
    border: none;
    display: none;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
}

.hamburger-menu-open-icon {
    cursor: pointer;
    font-size: 25px;
    pointer-events: auto;
}

.hamburger-menu-close {
    background: none;
    border: none;
    display: none;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
}

.hamburger-menu-close-icon {
    cursor: pointer;
    font-size: 25px;
    pointer-events: auto;
}

.section-1-first-item {
    padding-bottom: 10px;
}

.main-label {
    display: block;
    font-size: 18px;
    font-weight: 600;
}

.section-1-last-item {
    background-color: #ffffff;
    border-radius: 5px;
}

.daily-messaging-chart-container {
    height: 300px;
    padding: 10px;
}

.section-2-first-item {
    padding-bottom: 10px;
}

.section-2-last-item {
    background-color: #ffffff;
    border-radius: 5px;
}

.section-2-last-item-item {
    padding-bottom: 10px;
    padding-top: 10px;
}

.sublabel {
    display: block;
    font-size: 16px;
    font-weight: 600;
}

.section-2-last-item-item-first-item-first-item {
    width: 33px;
}

.facebook-messenger-icon {
    color: #0080ff;
    font-size: 25px;
}

.section-2-chart-container {
    height: 50px;
}

.whatsapp-icon {
    color: #55d159;
    font-size: 25px;
}


@media (max-width: 1024px) {
    .exit-button {
        display: none;
    }

    .hamburger-menu-open {
        display: inline-block;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 667px) {

}