html, body {
    font-family: 'PT Sans', sans-serif;
    background-color: rgb(236, 235, 235);
    height: 100vh;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sssText {
    font-size: 36px;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
}

.container {
    padding: 15px 15px;
}

.searchbox {
    margin-top: 10px;
}

.resetButton {
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 20px;
    background-color: green;
    color: white;
}

.questionList {
    margin-top: 20px;
}

input:focus {
    outline: none;
}

.answers {
    background-color: rgb(209, 209, 209);
    padding: 10px;
    font-size: 18px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 15px;
}

.iconStyle {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.searchInput {
    width: 30%;
    border-radius: 5px;
    padding: 5px 5px;
}