.custom-swal2-container-1 {
    display: none !important;
}

.custom-swal2-container-2 {
    align-items: center;
    background-color: transparent;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: .625em;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1060;
    -webkit-overflow-scrolling: touch;
}

.custom-swal2-container-2.swal2-shown {
    background-color: rgba(0, 0, 0, .4);
}

.custom-swal2-modal {
    display: flex !important;
}

.custom-swal2-title {
    display: flex;
}

.custom-swal2-close {
    display: flex;
}

.custom-swal2-textarea {
    resize: none;
}

.custom-swal2-select {
    display: flex;
    width: 100%;
}

.custom-swal2-confirm {
    background-color: rgb(243, 58, 63) !important;
    border-left-color: rgb(243, 58, 63) !important;
    border-right-color: rgb(243, 58, 63) !important;
    display: inline-block;
}

.custom-swal2-cancel {
    background-color: rgb(217, 217, 217) !important;
    display: inline-block;
}